@import "../../styles/variables";

.Posts {
}
.Post {
  &:first-of-type {
    margin: 15rem auto 6rem auto;
  }
  margin: 4rem auto;
  max-width: 60rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  color: $TertiaryColor;
  *:link,
  *:visited {
    text-decoration: underline;
  }
  h2 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h2,
  p {
    margin: 1rem 0;
  }
  img {
    max-width: 100%;
    margin: 2rem auto;
  }
  p {
    color: $ColorWhite1;
  }
  .Date {
    font-size: 1.4rem;
  }
  .Content {
    font-size: 1.6rem;
    line-height: 1.7;
    a:link,
    a:visited {
      color: $TertiaryColor;
    }
  }
}
