.InitialBackground {
  background: url(../images/images/circuitboard.jpg);
  min-height: 100vh;
  background-size: cover;
}

.MarginCenter {
  margin: 0 auto;
}

.Container {
  padding-left: 300px;
  padding-right: 300px;
  @media (max-width: 1400px) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: 500px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#About {
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4rem;
    letter-spacing: 6px;
  }
  p {
    font-size: 1.5rem;
    max-width: 900px;
  }
  @media (max-width: 1400px) {
    h1 {
      font-size: 3rem;
    }
    p {
      max-width: 600px;
    }
    h1,
    p {
      width: 90%;
    }
  }
  @media (max-width: 960px) {
    height: 90vh;
    h1 {
      font-size: 2.5rem;
      letter-spacing: 4px;
    }
    p {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 1.8rem;
    }
  }
}

#Seo {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  background: -moz-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  .col {
    width: 40%;
    margin: 0 5%;
    div {
      top: 50%;
      transform: translateY(-50%);
    }
    h2 {
      letter-spacing: 2px;
      text-align: center;
      font-size: 2rem;
    }
    p {
      font-size: 1.25rem;
    }
    @media (max-width: 1400px) {
      h2 {
        font-size: 1.75rem;
      }
      p {
        font-size: 1.25rem;
      }
    }
  }
  @media (max-width: 960px) {
    flex-flow: column;
    .col {
      width: 90%;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 36px;
      div {
        top: 0%;
        transform: translateY(0%);
      }
    }
  }
}

#Services {
  display: flex;
  background-color: #c8e6c4;
  align-items: flex-end;
  .col {
    width: 25%;
    margin: 4.166%;
    div {
      align-self: flex-start;
      width: 50%;
      margin: 0 auto;
    }
    h2 {
      font-size: 2.25rem;
    }
    p {
      font-size: 1.25rem;
    }
  }
  @media (max-width: 960px) {
    flex-flow: column;
    .col {
      width: 90%;
      max-width: 600px;
      margin: 30px auto;
    }
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }
  }
}

#Portfolio {
  background-color: #327160;
  padding-top: 24px;
  padding-bottom: 24px;
  h2 {
    font-size: 2.25rem;
  }
  h3 {
    margin-top: 4rem;
    font-size: 2rem;
  }
  p {
    font-size: 1.25rem;
  }
  a {
    color: inherit;
  }
  .Placeholder {
    background-color: white;
    height: 400px;
  }
  .Flex {
    display: flex;
    justify-content: space-between;
  }

  .Flex-2 {
    margin: 4rem auto;
    max-width: 1000px;
    .Image {
      max-width: 200px;
      margin: auto;
    }
  }
  .col-3 {
    width: 30%;
    margin: 0 1.66%;
  }
  .col-2 {
    width: 45%;
    margin: 0 2.5%;
  }
  @media (max-width: 960px) {
    .Flex {
      flex-flow: column;
    }
    .FlexOpposite {
      flex-direction: column-reverse;
    }
    .col-3,
    .col-2 {
      width: 90%;
      max-width: 600px;
      margin: 16px auto;
    }
  }
}

#Contact {
  background-color: #303225;
  padding-top: 60px;
  padding-bottom: 120px;
  h2 {
    margin-left: 5%;
    font-size: 2.5rem;
  }
  form {
    display: flex;
  }
  .col-wide,
  .col-narrow {
    margin: 0 5%;
  }
  .col-wide {
    width: 45%;
  }
  .col-narrow {
    width: 35%;
  }

  input,
  button,
  textarea {
    border: 0;
    font-size: 1.25rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 20px;
  }
  input {
    margin-top: 10px;
  }
  textarea {
    margin-top: 10px;
    height: calc(100% - 10px);
  }
  button {
    cursor: pointer;
    display: block;
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: auto;
  }
  @media (max-width: 960px) {
    h2 {
      margin: 16px;
      text-align: center
    }
    form {
      flex-flow: column;
    }
    .col-narrow, .col-wide {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
    }
    button{
      width: 100%;
      margin-top: 1rem;
      margin-right: auto;
      padding: 10px 20px;
      font-size: 1.25rem;
    }
  }
}
