.InitialBackground {
  height: 100vh;
  background-size: cover;
  z-index: 100;
}

.MarginCenter {
  margin: 0 auto;
}

.Container {
  padding-left: 30rem;
  padding-right: 30rem;
  @media (max-width: 1600px) {
    padding-left: 10rem;
    padding-right: 10rem;
  }
  @media (max-width: 1400px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media (max-width: 500px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#About {
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 6.5rem;
    letter-spacing: 0.6rem;
  }
  p {
    font-size: 2.4rem;
    max-width: 90rem;
  }
  @media (max-width: 1400px) {
    h1 {
      font-size: 4.8rem;
    }
    p {
      max-width: 60rem;
    }
    h1,
    p {
      width: 90%;
    }
  }
  @media (max-width: 960px) {
    height: 90vh;
    h1 {
      font-size: 4rem;
      letter-spacing: 0.4rem;
    }
    p {
      font-size: 1.8rem;
    }
  }
}

#Seo {
  display: flex;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: -moz-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: -ms-linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  background: linear-gradient(
    90deg,
    rgb(125, 194, 166) 0%,
    rgb(50, 113, 96) 100%
  );
  .col {
    width: 40%;
    margin: 0 5%;
    div {
      top: 50%;
      transform: translateY(-50%);
    }
    h2 {
      letter-spacing: 0.2rem;
      text-align: center;
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
    @media (max-width: 1400px) {
      h2 {
        font-size: 2.4rem;
      }
      p {
        font-size: 2rem;
      }
    }
  }
  @media (max-width: 960px) {
    flex-flow: column;
    .col {
      width: 90%;
      max-width: 60rem;
      margin: 0 auto;
      margin-bottom: 3.5rem;
      div {
        top: 0%;
        transform: translateY(0%);
      }
    }
  }
}

#Services {
  display: flex;
  background-color: #c8e6c4;
  align-items: flex-end;
  .col {
    width: 30%;
    margin: 5rem 1.66%;
    div {
      align-self: flex-start;
      width: 50%;
      margin: 0 auto;
    }
    h2 {
      font-size: 3.5rem;
    }
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 960px) {
    flex-flow: column;
    .col {
      width: 90%;
      max-width: 60rem;
      margin: 3rem auto;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}

#Portfolio {
  background-color: #327160;
  padding-top: 4rem;
  padding-bottom: 4rem;
  h2 {
    font-size: 5.5rem;
  }
  h3 {
    margin-top: 6rem;
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
  a {
    color: inherit;
  }
  .Placeholder {
    background-color: white;
    height: 40rem;
  }
  .Flex {
    display: flex;
    justify-content: space-between;
  }

  .Flex-2 {
    margin: 6rem auto;
    max-width: 100rem;
    .Image {
      max-width: 20rem;
      margin: auto;
    }
  }
  .col-3 {
    width: 30%;
    margin: 0 1.66%;
  }
  .col-2 {
    width: 45%;
    margin: 0 2.5%;
  }
  @media (max-width: 960px) {
    .Flex {
      flex-flow: column;
    }
    .FlexOpposite {
      flex-direction: column-reverse;
    }
    .col-3,
    .col-2 {
      width: 90%;
      max-width: 60rem;
      margin: 1.5rem auto;
    }
  }
}

#Contact {
  background-color: #303225;
  padding-top: 6rem;
  padding-bottom: 12rem;
  h2 {
    margin-left: 5%;
    font-size: 4rem;
  }
  form {
    display: flex;
  }
  .col-wide,
  .col-narrow {
    margin: 0 5%;
  }
  .col-wide {
    width: 45%;
  }
  .col-narrow {
    width: 35%;
  }

  input,
  button,
  textarea,
  label {
    border: 0;
    font-size: 2rem;
  }
  label {
    color: white;
    display: block;
    letter-spacing: 0.1rem;
  }
  label span {
    cursor: text;
    display: block;
    margin: 1rem 0;
  }
  input,
  textarea {
    width: 100%;
    padding: 2rem;
  }
  .TextareaBox {
    height: 33.6rem;
  }
  textarea {
    margin: 0;
    height: calc(100% - 5.6rem);
    font-family: "Roboto", sans-serif;
  }
  button {
    cursor: pointer;
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    margin-top: 1.3rem;
    margin-left: auto;
    transition: all 0.1s;
  }
  button:hover {
    box-shadow: 0 1rem 2rem #c8e6c444;
    top: -0.3rem;
  }
  button:focus {
    top: 0.1rem;
  }
  @media (max-width: 960px) {
    h2 {
      margin: 1.5rem;
      text-align: center;
    }
    form {
      flex-flow: column;
    }
    label span {
      text-align: center;
    }
    .col-narrow,
    .col-wide {
      width: 100%;
      max-width: 60rem;
      margin: 0 auto;
    }
    button {
      width: 100%;
      margin-top: 1.5rem;
      margin-right: auto;
      padding: 1rem 2rem;
      font-size: 2rem;
    }
  }
}
