.Backdrop {
  opacity: 0;
  z-index: -100;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition: 0.3;
}

.Show {
  display: block;
  animation: Show 0.3s;
  opacity: 1;
}

.DarkBG {
  background-color: #000000aa;
}

@keyframes Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}