@import "../../styles/variables";

.Navbar {
  display: flex;
  list-style-type: none;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0%;
  line-height: 3.5rem;
  padding: 3rem 25rem;
  z-index: 100;
  background-color: #30322560;
  * {
    margin-top: auto;
    margin-bottom: auto;
  }
  .Logo {
    font-size: 3.5rem;
    margin-right: auto;
    z-index: 200;
    &:hover {
      text-shadow: 0px 0px 10px $ColorWhite1;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .NavItem {
    margin-left: 2rem;
    text-decoration: none;
    font-weight: 300;
    font-size: 2.4rem;
    cursor: pointer;
    &:hover {
      color: white;
      text-shadow: 0px 0px 5px $ColorWhite1;
    }
  }
  &.Fixed {
    position: fixed;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    top: 0;
    background-color: rgba($ColorDark1, 0.75);
    animation: FixedEntrance ease-out 0.3s;
  }
}

.Burger {
  cursor: pointer;
  &:hover div {
    box-shadow: 0 0 0.5rem #ffffff44;
    transform: scaleX(1.05);
    translate: all 0.1s;
  }
  div {
    width: 3.6rem;
    height: 0.4rem;
    background-color: #fff;
    margin: 0.8rem;
  }
}

@keyframes FixedEntrance {
  0% {
    top: -10rem;
  }
  100% {
    top: 0;
  }
}

@media (max-width: 1400px) {
  .Navbar {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 960px) {
  .Navbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 500px) {
  .Navbar {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
