@import "../../styles/variables";

.HireMe {
  background-color: $PrimaryColor;
  padding: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  p {
    line-height: 4rem;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
    margin: 0 1.5rem;
    &:hover {
      text-shadow: 0 0 0.5rem rgba($PrimaryColor, 0.4);
    }
  }
  .ContactIcons {
    display: flex;
    align-items: center;
    div,
    a {
      margin: 0 0.2rem;
      &:first-child:hover {
        border-radius: 50%;
        box-shadow: 0 0 2rem rgba($PrimaryColor, 0.4);
      }
    }
    img {
      cursor: pointer;
    }
  }
  @media (max-width: 960px) {
    p {
      margin: 0 0.8rem;
      width: 50%;
    }
    img {
      display: block;
    }
  }
}
